@if (estaAgregandoTareaNueva()) {
  <app-tarea-nueva (cancelar)="alCancelarNuevaTarea()" />
}

<!--<h1>TAREAS DE USUARIO</h1>-->
<section id="tareas">
  <header>
    <h2>Tareas de <strong> {{ nombre() }} </strong></h2>
    <menu>
      <button (click)="alIniciarNuevaTarea()">Agregar Tarea Nueva</button>
    </menu>
  </header>

  <ul>
    @for (tarea of tareasUsuarioSeleccionado; track tarea.id) {
      <li>
        <app-tarea [tarea]="tarea" (terminada)="alCompletarTarea($event)" />
      </li>
    }
  </ul>
</section>


